body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 800px;
  padding: 0 20px;
  color: #222;
}

p {
  line-height: 1.5;
}

h1 {
  margin-bottom: 10px;
}

img {
  max-height: 400px;
  display: block;
  margin: 20px 0;
}

ul {
  padding-left: 20px;
}

li {
  margin: 6px 0;
}

.standout {
  color: #5b21b6;
}
