* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: inherit;
}

main {
    flex: 1;
}

.container {
    display: flex;
    height: 100%;
}

section {
    padding: 1em;
}

section:first-child {
    flex-basis: 240px;
}

.middle {
    flex: 1;
    background-color: #eee;
}

section:last-child {
    flex-basis: 180px;
    flex-grow: 0;
    flex-shrink: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: 0 0 250px;
    background-color: white;
    margin: .5rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.card img {
    border-radius: 10px 10px 0 0;
}

.card p {
    padding: .5rem 1rem;
}
